@use 'variables' as *;

button,
.btn {
  padding: 0.75rem 1.5rem;
  background: var(--color-bg-interactive-accent);
  border: none;
  border-radius: var(--border-radius-sm);
  color: var(--color-interactive-normal);
  font-size: var(--font-size-base);
  font-weight: bold;
  cursor: pointer;
  transition: background $transition-base;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: var(--color-bg-interactive-accent-hover);
    color: var(--color-interactive-normal);
    opacity: 0.9;
  }

  &:disabled {
    background: var(--color-bg-overlay);
    color: var(--color-text-normal);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
