body {
  --cyan-0: #bbe3e3;
  --cyan-1: #9fd8d8;
  --cyan-2: #74c6c5;
  --cyan-3: #41b0b0;
  --cyan-4: #058080;
  --cyan-5: #03616E;
  --cyan-6: #024448;
  --cyan-1-rgb: 187, 210, 209;
  --cyan-2-rgb: 158, 190, 188;
  --cyan-4-rgb: 62, 125, 121;
  --cyan-5-rgb: 3, 97, 110;

  // Blue
  --blue-0: #ceddeb;
  --blue-1: #bbd0e4;
  --blue-2: #9fbbd8;
  --blue-3: #7fa4ca;
  --blue-4: #4575ae;
  --blue-5: #2c496e;
  --blue-6: #1d3048;
  --blue-1-rgb: 187, 208, 228;
  --blue-2-rgb: 159, 187, 216;
  --blue-4-rgb: 69, 117, 174;
  --blue-5-rgb: 44, 73, 110;

  // Purple
  --purple-0: #e2d9e1;
  --purple-1: #d7c9d5;
  --purple-2: #c6b2c3;
  --purple-3: #b399ae;
  --purple-4: #8e6787;
  --purple-5: #594054;
  --purple-6: #392a37;
  --purple-1-rgb: 215, 201, 213;
  --purple-2-rgb: 198, 178, 195;
  --purple-4-rgb: 142, 103, 135;
  --purple-5-rgb: 89, 64, 84;

  // Gray
  --gray-light-8: #fafafa;
  --gray-light-7: #f8f8f8;
  --gray-light-6: #f5f5f5;
  --gray-light-5: #f1f1f1;
  --gray-light-4: #ebebeb;
  --gray-light-3: #e3e3e3;
  --gray-light-2: #dbdbdb; // 0
  --gray-light-1: #cdcdcd; // 1
  --gray: #b8b8b8; // 2
  --gray-dark-1: #a0a0a0; // 3
  --gray-dark-2: #898989;
  --gray-dark-3: #737373; // 4
  --gray-dark-4: #5d5d5d;
  --gray-dark-5: #484848; // 5
  --gray-dark-6: #3f3f3f;
  --gray-dark-7: #2f2f2f; // 6
  --gray-dark-75: #272727;
  --gray-dark-8: #212121;
  --gray-dark-85: #1e1e1e;
  --gray-dark-9: #1b1b1b;
  --gray-dark-10: #070707;
}

.dark body {
  --color-text-primary: var(--gray-light-1);
  --color-text-secondary: var(--gray);
  --color-text-faint: var(--gray-dark-1);

  --color-bg-base: var(--gray-dark-85);
  --color-bg-elevated: var(--gray-dark-7);
  --color-bg-overlay: var(--gray-dark-75);

  // Chat participant colors
  --color-bg-user: rgba(var(--cyan-4-rgb), 0.2);
  --color-border-user: var(--cyan-2);

  --color-bg-assistant: rgba(var(--purple-4-rgb), 0.2);
  --color-border-assistant: var(--purple-2);

  --color-interactive-normal: var(--gray-light-1);
  --color-bg-interactive-hover: var(--cyan-4);
  --color-bg-interactive-accent: var(--cyan-5);
  --color-bg-interactive-accent-hover: var(--cyan-4);

  // --color-border-primary

  --link-color: var(--gray);
  --link-decoration-color: var(--cyan-4);
  --link-color-hover: var(--cyan-4);

  // Shadows
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.3);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.4);
  --shadow-lg: 0 4px 12px rgba(var(--primary-accent-4-rgb), 0.3);
  --shadow-focus: 0 0 5px rgba(var(--primary-accent-4-rgb), 0.6);
  --shadow-focus-ai: 0 0 0 2px rgba(var(--blue-2-rgb), 0.4);
}

:not(.dark) body {
  --color-text-primary: var(--gray-dark-5);
  --color-text-secondary: var(--gray-dark-4);
  --color-text-faint: var(--gray-dark-1);

  --color-bg-base: var(--gray-light-8);
  --color-bg-elevated: var(--gray-light-5);
  --color-bg-overlay: var(--gray-light-3);

  // Chat participant colors
  --color-bg-user: rgba(var(--cyan-4-rgb), 0.1);
  --color-border-user: var(--cyan-4);

  --color-bg-assistant: rgba(var(--purple-4-rgb), 0.1);
  --color-border-assistant: var(--purple-4);

  --color-interactive-normal: var(--gray-light-8);
  --color-bg-interactive-hover: var(--cyan-1);
  --color-bg-interactive-accent: var(--cyan-4);
  --color-bg-interactive-accent-hover: var(--cyan-3);

  // --color-border-primary

  --link-color: var(--gray-dark-4);
  --link-color-hover: var(--cyan-3);
  --link-decoration-color: var(--cyan-2);

  // Shadows
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 4px 12px rgba(var(--cyan-4-rgb), 0.2);
  --shadow-focus: 0 0 5px rgba(var(--cyan-4-rgb), 0.5);
}
